<div class="container">
    <h1>Add a Task!</h1>
    <%= render "tasks/form", task: @task %>
<%= link_to tasks_path, class: "btn btn-primary mt-3" do%>
    <i class="fa-solid fa-house px-3"></i>
    <% end %>
</div>